<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col1">
                <h3>Download Our App</h3>
                <p>Download App for Android and ios mobile phone</p>
                <div class="app-logo">
                    <img src="../../../images/playstore.png" alt="">
                    <img src="../../../images/appstore.jfif" alt="">
                </div>
            </div>
            <div class="footer-col2">
                <img src="../../../images/Capture.PNG" alt="">
                <p>Our purpose is to sustainable make the pleasure and benefits of sports accessible to the Many</p>
            </div>
            <div class="footer-col3">
                <h3>Useful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog Post</li>
                    <li>return Policy</li>
                    <li>Join Affiliate</li>
                </ul>
            </div>
            <div class="footer-col4">
                <h3>Follow us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>Youtube</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright @Copyright www.SidduStore.com. All rights reserved </p>

    </div>
</div>