<%- messages('messages', locals) %>

  <div class="container con">
    <div class="message">
        <h2>Categories</h2>
        <a href="/admin/categories/add-category"> <button class="btn">Add a new category</button> </a>
        <br><br>
        <div class="small-container cart-page">
            <table>
                <thead>
                    <tr class="home">
                        <th>Category</th>                      
                        <th>Edit</th>                      
                        <th>Delete</th>                      
                    </tr>
                </thead>
                <tbody>
                    <%  categories.forEach(function(cat) {  %>
                        <tr>
                            <td> <%= cat.title %> </td>
                            <td> <a href="/admin/categories/edit-category/<%= cat._id %>">Edit</a></td>
                            <td> <a href="/admin/categories/delete-category/<%= cat._id %>">Delete</a></td>
                        </tr>
                    <% }); %>    
                </tbody>
            </table>
        </div>
    </div>
</div>